.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  /* display: none; */
}

.heading-container {
  margin-top: 15px;
}

.heading {
  color: #FF5858;
  font-size: 24px;
  font-weight: bold;
  display: inline;
}

.menu {
  margin-left: 25px;
  margin-right: 16px;
}

.Home-heading {
  font-size: 14px;
  margin-left: 50px;
}

.Home-info {
  border: 1px solid #FFC3C3;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.Landing-main {
  padding-right: 25px;
  padding-left: 25px;
}

.Profile-image {
  text-align: center;

}

.Profile-image > img {
  width: 120px;
  height: 120px;
}

.Profile-name {
  text-align: center;
  font-size: 24px;
}

.Profile-selector {
  margin-top: 50px;
}

.Profile-selector > p {
  display: inline;
  margin-left: 30px;
  font-size: 18px;
}

.Profile-selector > select {
  border: none;
  font-weight: bold;
  font-family: 'Montserrat';
  outline: none;
  font-size: 18px;
}

.Profile-content {
  padding-left: 25px;
  padding-right: 25px;
}

.Profile-selector-img {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.Profile-request {
  font-size: 12px;
  color: #FF5858;
  text-decoration: underline;
}

.Profile-events {
  background: #FFE1E1;
  padding: 10px;
}

.Profile-container {
  margin-left: 15px;
}

.SideMenu-bar {
  padding: 25px;
}

.SideMenu-top > img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: inline-block;
}

.SideMenu-right {
  display: inline-block;
  margin-left: 10px;
}

.SideMenu-rating > img {
  display: inline-block;
  margin-right: 5px;
}

.SideMenu-rating > h4 {
  display: inline-block;
}

.SideMenu-bar > select {
  border: none;
  font-weight: bold;
  font-family: 'Montserrat';
  outline: none;
  font-size: 18px;
}